name: CanKa Build System
on: [push]

jobs:
  android-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install Dependencies
        run: |
          pip install flet
          # Eğer başka kütüphane varsa buraya ekleyebiliriz

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Build APK
        run: |
          # Dosyalar bir klasörün içindeyse oraya gir, değilse devam et
          if [ -d "CanKaMobil" ]; then
            cd CanKaMobil
            flet build apk --org "com.mericdemirci.canka"
            mv build .. # Build klasörünü dışarı çıkar ki robot bulabilsin
          else
            flet build apk --org "com.mericdemirci.canka"
          fi

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: CanKa-Android-APK
          path: "**/build/apk/*.apk"
